.content {
    display: flex;
    width: 100%;
    height: 867px;
    background-color: #f1dac4;
    justify-content: center;
    align-items: center;
}

/* Start of choose-method-container */
.choose-method-container {
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
    border: 5px solid #89CFF0;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}

.choose-method-container h1 {
    width: 100%;
    text-align: center;
    padding: 3% 3%;
}

.choose-method-container .left-container,
.choose-method-container .right-container {
    background-color: white;
    width: 40%;
    height: 250px;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-method-container .left-container button,
.choose-method-container .right-container button {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    border: 3px solid gray;
    border-radius: 25px;
    box-shadow: 0 4px #999;
    cursor: pointer;
}

.choose-method-container .left-container button:hover,
.choose-method-container .right-container button:hover {
    border: 3px solid #89CFF0;
}

.choose-method-container .left-container img,
.choose-method-container .right-container img {
    width: 25%;
    height: 35%;
    margin-bottom: 8%;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.button-container button {
    width: 200px;
    height: 50px;
    font-weight: 600;
    border-radius: 25px;
    padding: 8px 15px;
}

.choose-method-container .login-container {
    width: 100%;
    text-align: center;
}

.choose-method-container .login-container p {
    color: black;
}

.choose-method-container .login-container a {
    color: #89CFF0;
    text-decoration: none;
}

.choose-method-container .login-container a:visited {
    color: #89CFF0;
}

@media (max-width:1440px) {
    .choose-method-container h1 {
        font-size: 25px;
    }

    .choose-method-container .left-container h2,
    .choose-method-container .right-container h2 {
        font-size: 15px;
    }
}

@media (max-width:1024px) {

    .content {
        height: 780px;
    }

    .choose-method-container {
        width: 80%;
    }
}

@media (max-width:768px) {
    .choose-method-container {
        width: 90%;
    }

    .choose-method-container .left-container,
    .choose-method-container .right-container {
        width: 45%;
        margin-bottom: 7%;
    }
}


@media (max-width:425px) {
    .choose-method-container {
        width: 100%;
    }

    .choose-method-container .left-container,
    .choose-method-container .right-container {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .button-container {
        margin-top: 7%;
        margin-bottom: 7%;
    }
}

/* end of choose-method-container */

/* Start of choose-method-container */
.client-signup-form {
    display: none;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px 20px;
    border: 5px solid #89CFF0;
    border-radius: 25px;
    text-align: center;
}

.client-signup-form #back-button {
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 1% 1%;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.client-signup-form #back-button img {
    width: 100%;
}

.client-signup-form h1 {
    width: 100%;
    text-align: center;
    padding: 3% 3%;
}

.client-signup-form input[type="text"],
.client-signup-form input[type="email"],
.client-signup-form input[type="password"],
.client-signup-form select {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.client-signup-form .pass-instruction{
    display: none;
    font-size:90% ;
    text-align: left; 
    margin-top:1% ; 
    margin-left:10%
}

.client-signup-form #submit-client {
    width: 200px;
    height: 50px;
    font-weight: 600;
    border: 3px solid #89CFF0;
    border-radius: 25px;
    padding: 8px 15px;
    background-color: #89CFF0;
    color: white;
    cursor: pointer;
    margin-bottom: 2%;
}

.client-signup-form #submit-client:hover {
    background-color: white;
    color: black;
}

.client-signup-form #submit-client:active {
    transform: translateY(4px);
}

.client-signup-form .login-container {
    width: 100%;
    text-align: center;
}

.client-signup-form .login-container p {
    color: black;
}

.client-signup-form .login-container a {
    color: black;
    text-decoration: none;
}

.client-signup-form .login-container a:visited {
    color: #89CFF0;
}

@media (max-width:1024px) {
    .client-signup-form {
        width: 60%;
    }

    .client-signup-form h1 {
        font-size: 25px;
    }
}

@media (max-width:768px) {
    .client-signup-form {
        width: 80%;
    }

    .client-signup-form h1 {
        font-size: 20px;
    }
}

@media (max-width:425px) {
    .client-signup-form {
        width: 90%;
    }

    .client-signup-form #back-button {
        height: 35px;
        width: 35px;
    }

    .client-signup-form h1 {
        font-size: 20px;
    }

    .client-signup-form input[type="text"],
    .client-signup-form select {
        margin-top: 5%;
    }

    .client-signup-form .login-container {
        margin-top: 3%;
        font-size: 15px;
    }
}

/* end of choose-method-container */
