.container{
    background: rgb(249 250 251);
    border: 1px solid rgb(107 114 128);
    border-radius: 4px;
    padding: 2.5rem; /* 40px */
    max-width: 700px;
    margin: 96px auto;
}

.container header{
    text-align: center;
}

.container header h2{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25rem; /* 4px */
}

.container header p{
    margin-bottom: 1rem; /* 16px */
}

.container .form-input-container,
.container .form-submit-button-container
{
    margin-bottom: 1.5rem; /* 24px */
}

.container .form-input-container label{
    display: inline-block;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 0.25rem; /* 4px */
}

.container .form-input-container input[type=text],
.container .form-input-container input[type=number],
.container .form-input-container textarea,
.container .form-input-container select{
    border: 1px solid rgb(229 231 235);
    border-radius: 0.25rem; /* 4px */
    padding: 0.5rem; /* 8px */
    width: 100%;
}

.container .form-input-container .error-message{
    color: rgb(239 68 68);
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-top: 0.25rem; /* 4px */
}

.container .form-submit-button-container button{
    background-color: #89CFF0;
    color: #fff;    
	padding: 0.5rem 1rem; /* 8px 16px*/
    border: 2px solid #89CFF0;
    border-radius: 0.25rem; /* 4px */
    cursor: pointer;
}

.container .form-submit-button-container button:hover{
    background-color: white;
    color: #89CFF0;
}

.container .form-submit-button-container button:active{
    background-color: white;
    color: #89CFF0;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.container .form-submit-button-container a{
    color: black;
    margin-left: 1rem; /* 16px */
    text-decoration: none;
}

